@import "./Vrednosti";
@import "./Hover";

.wrapper {

  .barsDropDown {
    display: none;
  }
}

.header{
  display: block;
  padding:0;
  margin:0 auto;
  position: relative;



  .leftSide{
    display: inline-block;
    position: relative;
    margin-left:20px;


    ul{
      display: inline-block;
      margin:0 auto;

      li{
        list-style: none;
        display: inline-block;
        margin:0 auto;
      }

      h1{
        padding-right:50px;
        a{
          color: $PrimaryColor;
          text-decoration: none;
        }
      }
      p{
        padding-right:20px;
        margin:0;

        .activeLink{
          color: $PrimaryColor;
          text-decoration: none;
          padding-bottom: 2px;
          border-bottom:2px solid $PrimaryColor;
        }

        a{
          text-decoration: none;
          color: black;

        }
      }
    }

  }



  .rightSide{
    display: inline-block;
    position: relative;
    float: right;


    ul{
      display: inline-block;
      margin:0 auto;
      padding:0;

      li{
        list-style: none;
        display: inline-block;
        margin:0 auto;
        padding: 5px;

        a {
          color: black;
          text-decoration: none;

          img{

            width: 200px;
            height: 50px;
            object-fit: fill;

          }
        }
      }
    }

  }

}